@import '/src/styles/base/variables.scss';

.newsletter {
    width: 100%;
    padding: 40px 0;
}

.newsletter-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.newsletter-wrapper h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $black;
    font-family: $font;
    margin-bottom: 1.5rem;
}

.newsletter-wrapper p {
    font-size: 1.5rem;
    font-weight: 500;
    color: $black;
    font-family: $font;
    margin-bottom: 1.5rem;
}

.newsletter-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    width: 50%;
    margin: auto;
}

.newsletter-wrapper form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1.5px solid #1b1919;
    border-radius: 5px;
    font-family: $font;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: $font;
    }
}

.newsletter-wrapper form button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #212180;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #333389;
    }
}

.newsletter-wrapper form button:focus {
    outline: none;
}

.newsletter-wrapper form button:active {
    transform: scale(0.98);
}

